<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/icons/chatIcon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <h1>Chat Room: {{ room.name }}</h1>
      <!-- <h1>Chat Room: {{ room.name }} ID: {{room.id }}</h1> -->
      <div id="messages" class="chat-container">
        <!-- messages will be here -->
      </div>
      <input type="text" id="messageInput" placeholder="Type your message..." />
      <button onclick="sendMessage()">Send</button>
      <div class="button-container">
        <button id="deleteRoom" class="red-button">Delete this Room</button>
        <a href="/chats" class="green-button">Back to Chats</a>
      </div>
    </div>

    <script>
      const roomId = {{ room.id }};
      const token = localStorage.getItem("access_token");

      // ================ check token ================
      if (!token) {
        alert("You are not authenticated. Redirecting to login...");
        window.location.href = "/login";
      }

      // ================ get userEmail ================
      let userEmail = "";

      fetch("/me", {
        method: "GET",
        headers: {
            Authorization: `Bearer ${token}`,
            "Content-Type": "application/json",
        },
        })
        .then((response) => {
            if (!response.ok) {
            throw new Error("Failed to fetch user data");
            }
            return response.json();
        })
        .then((data) => {
            userEmail = data.user.email;
            console.log("User email:", userEmail);
        })
        .catch((error) => {
            console.error("Error:", error);
        });

      // ================ WebSocket ================
      const ws = new WebSocket(
        `ws://${window.location.host}/ws/${roomId}?token=${token}`
      );

      ws.onopen = function () {
        console.log("WebSocket connection established");
      };

      ws.onmessage = function (event) {
        const data = JSON.parse(event.data);
        const messages = document.getElementById("messages");

        const messageElement = document.createElement("div");
        messageElement.classList.add("message");

        console.log("Message received:", event.data);

        if (data.type === "notification") {
            messageElement.classList.add("notification");
            messageElement.textContent = data.message;
        } else if (data.type === "message") {
            if (data.sender === userEmail) {
                messageElement.classList.add("you");
                messageElement.textContent = data.message;
            } else {
                messageElement.classList.add("other");
                messageElement.textContent = `${data.sender}: ${data.message}`;
            }
        }
        messages.appendChild(messageElement);
        messages.scrollTop = messages.scrollHeight;
      };

      ws.onclose = function () {
        console.log("WebSocket connection closed");
      };

      ws.onerror = function (error) {
        console.error("WebSocket error:", error);
      };

      // ================ send message ================
      function sendMessage() {
        const input = document.getElementById("messageInput");
        const message = input.value;
        if (message) {
          ws.send(message);
          input.value = "";
        }
      }

      // ================ delete room ================
      document
        .getElementById("deleteRoom")
        .addEventListener("click", async () => {

          const response = await fetch(`/chats/delete/${roomId}`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${token}`,
            },
            body: JSON.stringify({ id: roomId }),
          });

          if (response.ok) {
            alert("Room deleted successfully!");
            window.location.href = "/chats";
          } else {
            const error = await response.json();
            alert("failed: " + error.detail);
          }
        });
    </script>
  </body>
</html>
